@inherits MixApp.Shared.Components.HeaderBase

@inject LocaleManager LM

<div class="mixHeader">
    <div class="mix">
        <img src="/favicon.png" class="mixIcon"/>
        <span class="mixInfo">Mix Store</span>
    </div>
    <FluentSearch Value="@KeyWord" @oninput="UserInput" class="search" Placeholder=@LM.Scripts["c.search_box.search"] />

    @if(SearchResults.Count != 0 && !string.IsNullOrEmpty(KeyWord))
    {
        <div class="searchContent animate__animated animate__fadeInDown">
            <FluentDataGrid class="searchResult" Items="@SearchResults.AsQueryable()" GridTemplateColumns="1fr 1fr 2fr 1fr" ResizableColumns=true Virtualize="true" >
                <PropertyColumn Title=@LM.Scripts["c.search_box.identifier"] Property="@(i => i.PackageIdentifier)" />
                <PropertyColumn Title=@LM.Scripts["c.search_box.name"] Property="@(i => i.PackageName)" />
                <PropertyColumn Title=@LM.Scripts["c.search_box.description"] Property="@(i => i.ShortDescription)" />
                <PropertyColumn Title=@LM.Scripts["c.search_box.publisher"] Property="@(i => i.Publisher)" />
                
                <TemplateColumn Title=@LM.Scripts["c.search_box.open"]>
                    <FluentBadge @onclick=@(_ => OpenSoftware(context)) Appearance="Appearance.Accent" Fill="highlight" Color="highlight">@LM.Scripts["c.search_box.open"]</FluentBadge>
                </TemplateColumn>
            </FluentDataGrid>
        </div>
    }
</div>

<style>
    .mixHeader {
        position: relative;
        display: flex;
        justify-content: center;
        background-color: var(--neutral-fill-layer-rest);;
        position: relative;
        height: 60px;
    }

    .mix{
        position: absolute;
        left: 25px;
        top: 15px;
    }

    .mix .mixIcon{
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
    }

    .mix .mixInfo{
        padding-left: 10px;
        font-size: 15px;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
    }

    .mixHeader .search {
        width: 50%; 
        margin: 15px;
        margin-right: 10px;
    }

    .mixHeader .searchContent {
        position: absolute;
        margin: 50px;
        overflow-y: scroll;
        text-align: left;
        max-height: 50vh;
        z-index: 10;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
        background-color: rgb(61 61 61 / 50%);
        backdrop-filter: saturate(110%) blur(10px);
        border-radius: 5px;
    }

    .mixHeader ::-webkit-scrollbar {
        display: none;
    }

    .mixHeader .searchResult {
        padding: 20px;
    }

    @@media only screen and (max-width: 950px) {
        .mixHeader .search {
            display: none;
        }
    }
</style>