@inherits MixApp.Shared.Components.RequestPermissionBase

@inject LocaleManager LM;

@if(!ShowDialog) return;

<FluentDialog Modal="true" class="animate__animated animate__fadeIn">        
    <FluentDialogHeader>
        <h2>@LM.Scripts["c.request_permission.better_experience"]</h2>
    </FluentDialogHeader>

    <FluentDialogBody>
        <p>@(new MarkupString(LM.Scripts["c.request_permission.recommended_to_enable"]))</p>
        <p>@(new MarkupString(LM.Scripts["c.request_permission.allow_notification"]))</p>
    </FluentDialogBody>

    <div class="dialogFooter">
        <FluentButton Appearance="Appearance.Accent" @onclick="(_ => RequestPermission())">
            @LM.Scripts["c.request_permission.allow"]
        </FluentButton>

        <FluentButton @onclick="(_ => NoLongerShowDialog())">
            @LM.Scripts["c.request_permission.close"]
        </FluentButton>
    </div>
</FluentDialog>

<style>
    .dialogFooter {
        margin-bottom: 20px;
    }

    .dialogFooter > fluent-button {
        margin-right: 10px;
    }
</style>