@inherits MixApp.Shared.MainLayoutBase

<FluentDesignSystemProvider NeutralBaseColor="#1a1a1a" FillColor="#333333" BaseLayerLuminance="0">
    <div class="layout">

        <FluentNavMenu class="sidebar" @bind-Expanded="@Expanded" >
            <FluentNavMenuLink Text="Home" Icon="@(new Icons.Regular.Size24.Home())" Href="/" />
            <FluentNavMenuLink Text="Software" Icon="@(new Icons.Regular.Size24.CalendarAgenda())" Href="/softwares" />
            <FluentNavMenuLink Text="Cloud" Icon="@(new Icons.Regular.Size24.Cloud())" Href="/counter" />
            <FluentNavMenuLink Text="Bettery" Icon="@(new Icons.Regular.Size24.Settings())" />
        </FluentNavMenu>

        <div class="main">
            <FluentTextField class="search" @bind-Value=KeyWord Placeholder="Search" />

            <FluentStack class="container" Orientation="Orientation.Vertical"
                HorizontalAlignment="HorizontalAlignment.Center">
                @Body
            </FluentStack>
        </div>

    </div>
</FluentDesignSystemProvider>

<style>
    .layout {
        height: 100vh; display: flex;
    }

    .sidebar {
        width: 200px;
    }

    .main {
        text-align: center; 
        width: calc(100% - 210px); 
        margin: 0 auto;
    }

    .main > .search {
        width: 50%; 
        margin-top: 20px;
    }

    .main > .container {
        padding: 10px 20px;
        height: calc(100vh - 70px);
        overflow-y: scroll;
        text-align: left;
    }

    @@media only screen and (max-width: 950px) {
        .sidebar {
            display: none;
        }

        .main {
            width: calc(100% - 10px);
            margin: 0;
        }

        .main > .search {
            display: none;
        }
    }

    @@media only screen and (max-width: 700px) {
        .main {
            width: 100%;
        }

        .main > .container {
            padding: 10px 20px;
            height: 100vh;
        }
    }
</style>