@inherits MixApp.Shared.MainLayoutBase

<FluentDesignSystemProvider NeutralBaseColor="#1a1a1a" FillColor="#333333" BaseLayerLuminance="0">
    <div class="main">

        <FluentNavMenu class="sidebar" @bind-Expanded="@Expanded" >
            <FluentNavMenuLink Text="Home" Icon="@(new Icons.Regular.Size24.Home())" Href="/" />
            <FluentNavMenuLink Text="Cloud" Icon="@(new Icons.Regular.Size24.Cloud())" Href="counter" />
            <FluentNavMenuLink Text="Calendar" Icon="@(new Icons.Regular.Size24.CalendarAgenda())" Href="fetchdata" />
            <FluentNavMenuLink Text="Bettery" Icon="@(new Icons.Regular.Size24.LeafOne())" />
            <FluentNavMenuLink Text="Bettery" Icon="@(new Icons.Regular.Size24.Settings())" />
        </FluentNavMenu>

        <div class="content">

            <FluentTextField class="search" @bind-Value=keyWord Placeholder="Search" />

            <FluentStack class="page" Orientation="Orientation.Vertical"
                HorizontalAlignment="HorizontalAlignment.Center">
                @Body
            </FluentStack>
        </div>

    </div>
</FluentDesignSystemProvider>

<style>
    .main {
        height: 100vh; display: flex;
    }

    .sidebar {
        width: 200px;
    }

    .content {
        text-align: center; 
        width: calc(100% - 210px); 
        margin: 0 auto;
    }

    @@media only screen and (max-width: 950px) {
        .sidebar {
            display: none;
        }

        .content {
            width: calc(100% - 10px);
            margin: 0;
        }
    }

    .search {
        width: 50%; 
        margin-top: 20px;
    }

    .page {
        padding: 0 20px;
        height: calc(100vh - 70px);
        overflow-y: scroll;
        text-align: left;
    }
</style>