@inherits MixApp.Components.DetailBase

@using System.Text.Json

@if (Software != null) {
    <FluentDialog @ondialogdismiss="OnDismiss" Modal="true" class="animate__animated animate__fadeIn" >
        <div class="detail">
            <img src="@(HttpClient?.BaseAddress + Software?.Cover)" loading="lazy" class="cover animate__animated animate__fadeInDown" />
            <div class="mask" />

            <div>
                <div class="head">
                    <div class="animate__animated animate__fadeInLeft">
                        <h1>@Software?.PackageName</h1>

                        <p>@Software?.ShortDescription</p>
                        <p>@Latest.Description</p>
                        
                        <FluentButton @onclick="(_ => Download(Latest.Installers))" 
                            IconEnd="@(new Icons.Regular.Size16.ArrowCircleDown())" 
                            Autofocus="true">
                            Download
                        </FluentButton>
                        
                        <FluentButton IconEnd="@(new Icons.Regular.Size16.Star())" Appearance="Appearance.Stealth" />
                    </div>

                    <div class="animate__animated animate__fadeInRight">
                        <p>Identifier: @Software?.PackageIdentifier</p>
                        <p>Latest: @Latest.PackageVersion</p>
                        <p>Date: @Latest.ReleaseDate</p>
                        <p>
                            <FluentBadge Appearance="Appearance.Accent">@Software?.Publisher</FluentBadge>
                        </p>
                        <a href="@Latest.PublisherUrl" target="_blank">
                            <FluentBadge Appearance="Appearance.Accent" Fill="highlight" Color="highlight">访问官网</FluentBadge>
                        </a>
                    </div>
                </div>

                <FluentDivider Style="width: 100%;" Role="DividerRole.Presentation"></FluentDivider>

                <div class="info">
                    
                    <div>
                        <h4>Installers</h4>

                        <FluentDataGrid Items="@Installers.AsQueryable()" GridTemplateColumns="1fr 5fr 7fr" ResizableColumns=true Virtualize="true" >
                            <PropertyColumn Title="Arch" Property=@(i => i!.Architecture) />
                            <TemplateColumn Title="Url">
                                <a href="@context.InstallerUrl" target="_blank">@context.InstallerUrl</a>
                            </TemplateColumn>
                            <PropertyColumn Title="Sha256" Property=@(i => i!.InstallerSha256) />
                        </FluentDataGrid>
                    </div>

                    <div>
                        <h4>WinGet</h4>

                        <FluentTextField Value=@("winget install " + Latest.PackageIdentifier) />
                    </div>

                    <div>
                        <h4>Tags</h4>

                        @foreach (string tags in JsonSerializer.Deserialize<List<string>>(Latest.Tags ?? "[]")!)
                        {
                            <FluentBadge Appearance="Appearance.Accent" Fill="highlight" Color="highlight">
                                @tags
                            </FluentBadge>
                        }
                    </div>

                    <div>
                        <h4>Versions</h4>

                        <FluentDataGrid Items="@Manifests.AsQueryable()" GridTemplateColumns="1fr 4fr 1fr 1fr" ResizableColumns=true Virtualize="true" >
                            <PropertyColumn Title="Version" Property=@(i => i!.PackageVersion) Sortable="true" />
                            <PropertyColumn Title="ReleaseNotes" Property=@(i => i!.ReleaseNotes ?? "None") Sortable="true" />
                            <PropertyColumn Title="ReleaseDate" Property=@(i => i!.ReleaseDate ?? "-") Sortable="true" />
                            <TemplateColumn Title="Dwonload">
                                <FluentBadge @onclick="(_ => Download(context.Installers))" Appearance="Appearance.Accent" Fill="highlight" Color="highlight">Download</FluentBadge>
                            </TemplateColumn>
                        </FluentDataGrid>
                    </div>
                    
                    <div>
                        <h4>License</h4>

                        <a href="@Latest.LicenseUrl" target="_blank">
                            <FluentBadge Appearance="Appearance.Accent" Fill="highlight" Color="highlight">
                                @Latest.License
                            </FluentBadge>
                        </a>
                    </div>

                    <div>
                        <h4>Privacy</h4>

                        <a href="@Latest.PrivacyUrl" target="_blank">
                            <FluentBadge Appearance="Appearance.Accent" Fill="highlight" Color="highlight">
                                @Latest.PrivacyUrl
                            </FluentBadge>
                        </a>
                    </div>

                    <div class="copyright">
                        <a href="@Latest.CopyrightUrl" target="_blank">
                            @Latest.Copyright
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </FluentDialog>
}

<style scoped>
    fluent-dialog::part(control) {
        --dialog-width: 60vw;
        padding: 20px 0;
    }

    .detail {
        height: 80vh;
        position: relative;
    }

    .detail .cover {
        object-fit: cover;
        height: 55vh;
        width: 100%;
        border-radius: 5px;
    }

    .detail .mask {
        position: absolute;
        top: 0;
        height: 55vh;
        width: 100%;
        background: linear-gradient(to top, #333333, rgba(255, 255, 255, 0));
    }
    
    .head {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .head > div:first-child {
        text-align: left;
    }

    .head > div:last-child {
        text-align: right;
        padding: 20px;
        min-width: 250px;
    }

    .head > div:last-child p {
        margin: 5px;
    }

    .info {
        padding: 20px;
    }

    .info > div {
        margin-bottom: 20px;
    }

    .info fluent-text-field {
        width: 300px;
    }

    .info fluent-data-grid {
        max-height: 400px; 
        overflow-y: scroll;
    }

    .copyright {
        text-align: center;
    }
</style>
