@inherits MixApp.Components.DetailBase

<FluentDialog @ref="Dialog" @ondialogdismiss="OnDismiss" Modal="true" class="animate__animated animate__fadeIn" >
    <div class="detail">
        <img src="@Software?.Cover" class="cover animate__animated animate__fadeInDown" >

        <div class="info">
            <div class="head">
                <div class="animate__animated animate__fadeInLeft">
                    <h1>@Software?.PackageName</h1>

                    <p>@Software?.ShortDescription</p>
                    <p>@Latest.Description</p>
                    
                    <FluentButton @onclick="@(_ => Download(Latest.Installers))" 
                        IconEnd="@(new Icons.Regular.Size16.ArrowCircleDown())" 
                        Autofocus="true">
                        Download
                    </FluentButton>
                    
                    <FluentButton IconEnd="@(new Icons.Regular.Size16.Star())" Appearance="Appearance.Stealth" />
                </div>

                <div class="animate__animated animate__fadeInRight">
                    <p>Identifier: @Software?.PackageIdentifier</p>
                    <p>Version: @Latest.PackageVersion</p>
                    <FluentBadge Appearance="Appearance.Accent">@Software?.Publisher</FluentBadge>
                </div>
            </div>

            <FluentDivider Style="width: 100%;" Role="DividerRole.Presentation"></FluentDivider>

            <div class="desc">
                <h5>Versions</h5>

                @foreach (Manifest manifest in Manifests)
                {
                    <p>@manifest.PackageVersion</p>
                }
            </div>
        </div>
    </div>
</FluentDialog>

<style scoped>
    fluent-dialog::part(control) {
        --dialog-width: 80vw;
    }
    
    .cover {
        object-fit: cover;
        height: 60vh;
        width: 100%;
        border-radius: 5px;
    }

    .detail {
        height: 80vh;
    }

    .info > .head {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .head > div:first-child {
        text-align: left;
    }

    .head > div:last-child {
        text-align: right;
        padding: 20px;
        min-width: 250px;
    }

    .info > .desc {
        margin: 20px;
    }
</style>
