@inherits MixApp.Components.DetailBase

@using System.Text.Json

@if (Software != null) {
    <FluentDialog @ref="Dialog" @ondialogdismiss="OnDismiss" Modal="true" class="animate__animated animate__fadeIn" >
        <div class="detail">
            <img src="@Software?.Cover" class="cover animate__animated animate__fadeInDown" >

            <div class="info">
                <div class="head">
                    <div class="animate__animated animate__fadeInLeft">
                        <h1>@Software?.PackageName</h1>

                        <p>@Software?.ShortDescription</p>
                        <p>@Latest.Description</p>
                        
                        <FluentButton @onclick="(_ => Download(Latest.Installers))" 
                            IconEnd="@(new Icons.Regular.Size16.ArrowCircleDown())" 
                            Autofocus="true">
                            Download
                        </FluentButton>
                        
                        <FluentButton IconEnd="@(new Icons.Regular.Size16.Star())" Appearance="Appearance.Stealth" />
                    </div>

                    <div class="animate__animated animate__fadeInRight">
                        <p>Identifier: @Software?.PackageIdentifier</p>
                        <p>Latest: @Latest.PackageVersion</p>
                        <p>Date: @Latest.ReleaseDate</p>
                        <p>
                            <FluentBadge Appearance="Appearance.Accent">@Software?.Publisher</FluentBadge>
                        </p>
                        <a href="@Latest.PublisherUrl" target="_blank">
                            <FluentBadge Appearance="Appearance.Accent" Fill="highlight" Color="highlight">访问官网</FluentBadge>
                        </a>
                    </div>
                </div>

                <FluentDivider Style="width: 100%;" Role="DividerRole.Presentation"></FluentDivider>

                <div class="desc">

                    <h4>WinGet</h4>

                    <FluentTextField Value=@("winget install " + Latest.PackageIdentifier) >
                        <FluentIcon Icon="Icons.Regular.Size16.Copy" Slot="end" Color=Color.Neutral />
                    </FluentTextField>

                    <br/><br/>

                    <h4>Tags</h4>

                    @foreach (string tags in JsonSerializer.Deserialize<List<string>>(Latest.Tags ?? "[]")!)
                    {
                        <FluentBadge Appearance="Appearance.Accent" Fill="highlight" Color="highlight">
                            @tags
                        </FluentBadge>
                    }

                    <br/><br/>

                    <h4>Versions</h4>

                    <FluentDataGrid Items="@Manifests.AsQueryable()" GridTemplateColumns="1fr 4fr 1fr 1fr" ResizableColumns=true>
                        <PropertyColumn Property=@(i => i!.PackageVersion) Sortable="true" />
                        <PropertyColumn Property=@(i => i!.ReleaseNotes ?? "None") Sortable="true" />
                        <PropertyColumn Property=@(i => i!.ReleaseDate ?? "-") Sortable="true" />
                        
                        <TemplateColumn Title="Dwonload">
                            <FluentBadge @onclick="(_ => Download(context.Installers))" Appearance="Appearance.Accent" Fill="highlight" Color="highlight">Download</FluentBadge>
                        </TemplateColumn>
                    </FluentDataGrid>

                    <br/><br/>

                    <h4>License</h4>

                    <a href="@Latest.LicenseUrl" target="_blank">
                        <FluentBadge Appearance="Appearance.Accent" Fill="highlight" Color="highlight">
                            @Latest.License
                        </FluentBadge>
                    </a>

                    <br/><br/>

                    <p>@Latest.Copyright</p>

                </div>
            </div>
        </div>
    </FluentDialog>
}

<style scoped>
    fluent-dialog::part(control) {
        --dialog-width: 60vw;
        padding: 20px 0;
    }
    
    .cover {
        object-fit: cover;
        height: 50vh;
        width: 100%;
        border-radius: 5px;
    }

    .detail {
        height: 80vh;
    }

    .head {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .head > div:first-child {
        text-align: left;
    }

    .head > div:last-child {
        text-align: right;
        padding: 20px;
        min-width: 250px;
    }

    .desc {
        padding: 20px;
    }

    .desc fluent-text-field {
        width: 300px;
    }
</style>
