@inherits MixApp.Components.DetailBase

@using System.Text.Json

<FluentDialog @ref="Dialog" @ondialogdismiss="OnDismiss" Modal="true" class="animate__animated animate__fadeIn" >
    <div class="detail">
        <img src="@Software?.Cover" class="cover animate__animated animate__fadeInDown" >

        <div class="info">
            <div class="head">
                <div class="animate__animated animate__fadeInLeft">
                    <h1>@Software?.PackageName</h1>

                    <p>@Software?.ShortDescription</p>
                    <p>@Latest.Description</p>
                    
                    <FluentButton @onclick="@(_ => Download(Latest.Installers))" 
                        IconEnd="@(new Icons.Regular.Size16.ArrowCircleDown())" 
                        Autofocus="true">
                        Download
                    </FluentButton>
                    
                    <FluentButton IconEnd="@(new Icons.Regular.Size16.Star())" Appearance="Appearance.Stealth" />
                </div>

                <div class="animate__animated animate__fadeInRight">
                    <p>Identifier: @Software?.PackageIdentifier</p>
                    <p>Latest: @Latest.PackageVersion</p>
                    <p>
                        <FluentBadge Appearance="Appearance.Accent">@Software?.Publisher</FluentBadge>
                    </p>
                    <FluentBadge Appearance="Appearance.Accent" Fill="highlight" Color="highlight">访问官网</FluentBadge>
                </div>
            </div>

            <FluentDivider Style="width: 100%;" Role="DividerRole.Presentation"></FluentDivider>

            <div class="desc">

                <h5>WinGet</h5>

                <FluentTextField Value=@("winget install " + Latest.PackageIdentifier) >
                    <FluentIcon Icon="Icons.Regular.Size16.Copy" Slot="end" Color=Color.Neutral />
                </FluentTextField>

                <br/><br/>

                <h5>Tags</h5>

                @foreach (string tags in JsonSerializer.Deserialize<List<string>>(Latest.Tags ?? "[]")!)
                {
                    <FluentBadge Appearance="Appearance.Accent" Fill="highlight" Color="highlight">
                        @tags
                    </FluentBadge>
                }

                <br/><br/>

                <h5>Versions</h5>

                @foreach (Manifest manifest in Manifests.OrderByDescending(i => i.PackageVersion))
                {
                    <FluentButton  @onclick="@(_ => Download(manifest.Installers))" Appearance="Appearance.Stealth" >
                        @manifest.PackageVersion
                    </FluentButton>
                }
            </div>
        </div>
    </div>
</FluentDialog>

<style scoped>
    fluent-dialog::part(control) {
        --dialog-width: 60vw;
        padding: 20px 0;
    }
    
    .cover {
        object-fit: cover;
        height: 50vh;
        width: 100%;
        border-radius: 5px;
    }

    .detail {
        height: 80vh;
    }

    .head {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .head > div:first-child {
        text-align: left;
    }

    .head > div:last-child {
        text-align: right;
        padding: 20px;
        min-width: 250px;
    }

    .desc {
        padding: 20px;
    }

    .desc fluent-text-field {
        width: 300px;
    }
</style>
