@page "/Library"
@inherits MixApp.Shared.Pages.LibraryBase

@inject LocaleManager LM

<PageTitle>@LM.Scripts["p.library.library"]</PageTitle>

<div class="page">
    @if(GlobalEvent.WaitQueue.Count() > 0)
    {
        <div class="list">
            <h1>@LM.Scripts["p.library.waiting_queue"]</h1>

            <FluentDataGrid Items="@GlobalEvent.WaitQueue.AsQueryable()" GridTemplateColumns="1fr 2fr 9fr 3fr 2fr" ResizableColumns=true>
                <TemplateColumn Title=@LM.Scripts["p.library.logo"]>
                    <img class="icon" 
                        src=@("https://icon.horse/icon/" + new Uri(context.PackageUrl ?? "https://www.conchbrain.club").Host) 
                        onerror="javascript:this.src='https://www.conchbrain.club/favicon.ico'" 
                        />
                </TemplateColumn>

                <TemplateColumn Title=@LM.Scripts["p.library.package_name"] >
                    <p class="line">@context.PackageName</p>
                </TemplateColumn>

                <TemplateColumn Title=@LM.Scripts["p.library.description"]>
                    <p class="line">@context.ShortDescription</p>
                </TemplateColumn>

                <TemplateColumn Title=@LM.Scripts["p.library.publisher"]>
                    <p class="line">@context.Publisher</p>
                </TemplateColumn>

                <TemplateColumn Title=@LM.Scripts["p.library.action"]>
                    <FluentButton OnClick="(_ => DownloadFromWaitQueue(context))" Appearance="Appearance.Stealth" IconEnd="@(new Icons.Regular.Size20.ArrowDownload())" />
                    <FluentButton OnClick="(_ => GlobalEvent.WaitQueue.Remove(context))" Appearance="Appearance.Stealth" IconEnd="@(new Icons.Filled.Size20.Dismiss())" />
                </TemplateColumn>
            </FluentDataGrid>
        </div>
    }

    @if(GlobalEvent.DownloadQueue.Count() > 0)
    {
        <div class="list">
            <h1>@LM.Scripts["p.library.download_queue"]</h1>

            <FluentDataGrid Items="@GlobalEvent.DownloadQueue.AsQueryable()" GridTemplateColumns="1fr 2fr 8fr 1fr 1fr 3fr 2fr" ResizableColumns=true>
                <TemplateColumn Title=@LM.Scripts["p.library.logo"]>
                    <img class="icon" 
                        src=@("https://icon.horse/icon/" + new Uri(context.Manifest.PackageUrl ?? "https://www.conchbrain.club").Host) 
                        onerror="javascript:this.src='https://www.conchbrain.club/favicon.ico'" 
                        />
                </TemplateColumn>

                <TemplateColumn Title=@LM.Scripts["p.library.package_name"] >
                    <p class="line">@context.Manifest.PackageName</p>
                </TemplateColumn>

                <TemplateColumn Title=@LM.Scripts["p.library.description"]>
                    <p class="line">@context.Manifest.ShortDescription</p>
                    <FluentProgress Min="0" Max="100" Value="@context.Progress"></FluentProgress>
                </TemplateColumn>

                <TemplateColumn Title=@LM.Scripts["p.library.version"]>
                    <p class="line">@context.Manifest.PackageVersion</p>
                </TemplateColumn>
    
                <TemplateColumn Title=@LM.Scripts["p.library.architecture"]>
                    <p class="line">@context.Installer.Architecture</p>
                </TemplateColumn>
                
                <TemplateColumn Title=@LM.Scripts["p.library.publisher"]>
                    <p class="line">@context.Manifest.Publisher</p>
                </TemplateColumn>

                <TemplateColumn Title=@LM.Scripts["p.library.action"]>
                    <FluentButton OnClick="(_ => GlobalEvent.CancelDownloadingTask(context))" Appearance="Appearance.Stealth" IconEnd="@(new Icons.Filled.Size20.Dismiss())" />
                </TemplateColumn>
            </FluentDataGrid>
        </div>
    }

    <div class="list">
        <h1>@LM.Scripts["p.library.download_history"]</h1>

        <FluentDataGrid Items="@GlobalEvent.HistoryQueue.AsQueryable()" GridTemplateColumns="1fr 2fr 8fr 1fr 1fr 3fr 2fr" ResizableColumns=true>
            <TemplateColumn Title=@LM.Scripts["p.library.logo"]>
                <img class="icon" 
                    src=@("https://icon.horse/icon/" + new Uri(context.Manifest.PackageUrl ?? "https://www.conchbrain.club").Host) 
                    onerror="javascript:this.src='https://www.conchbrain.club/favicon.ico'" 
                    />
            </TemplateColumn>

            <TemplateColumn Title=@LM.Scripts["p.library.package_name"] >
                <p class="line">@context.Manifest.PackageName</p>
            </TemplateColumn>

            <TemplateColumn Title=@LM.Scripts["p.library.description"]>
                <p class="line">@context.Manifest.ShortDescription</p>
            </TemplateColumn>

            <TemplateColumn Title=@LM.Scripts["p.library.version"]>
                <p class="line">@context.Manifest.PackageVersion</p>
            </TemplateColumn>

            <TemplateColumn Title=@LM.Scripts["p.library.architecture"]>
                <p class="line">@context.Installer.Architecture</p>
            </TemplateColumn>

            <TemplateColumn Title=@LM.Scripts["p.library.publisher"]>
                <p class="line">@context.Manifest.Publisher</p>
            </TemplateColumn>

            <TemplateColumn Title=@LM.Scripts["p.library.action"]>
                @* <FluentButton Appearance="Appearance.Stealth" IconEnd="@(new Icons.Regular.Size20.AppsAddIn())" /> *@
                <FluentButton OnClick="(_ => GlobalEvent.DownloadInstaller(context))" Appearance="Appearance.Stealth" IconEnd="@(new Icons.Regular.Size20.ArrowReset())" />
                <FluentButton OnClick="(_ => GlobalEvent.RemoveFromHistoryQueue(context))" Appearance="Appearance.Stealth" IconEnd="@(new Icons.Filled.Size20.Dismiss())" />
            </TemplateColumn>
        </FluentDataGrid>
    </div>
</div>

<style>
    .page {
        width: 100%;
        padding: 10px 20px;
        margin: 20px;
    }

    .page h1 {
        margin-bottom: 20px;
    }

    .page img {
        height: 30px;
    }

    .page .line {
        height: 30px;
        line-height: 30px;
        margin-bottom: 0;
    }
</style>