@page "/Setting"
@inherits MixApp.Shared.Pages.SettingBase

@inject LocaleManager LM

<PageTitle>@LM.Scripts["p.setting.setting"]</PageTitle>

<div class="page">
    <h2>@LM.Scripts["p.setting.setting"]</h2>

    <FluentAccordion>
        <FluentAccordionItem Heading=@LM.Scripts["p.setting.interface"] Expanded="true">
            <FluentIcon Slot="start" Value="@(new Icons.Regular.Size24.Globe())" Color=Color.Neutral />

            <FluentStack class="content" VerticalAlignment="VerticalAlignment.Center">
                <p class="title">@LM.Scripts["p.setting.locale"]</p>
                <FluentSpacer />
                
                <FluentSelect TOption="Option<string>" Items="LocaleOptions" 
                    @bind-SelectedOption="SelectedLocale"
                    OptionText="@(i => LM.Scripts[i.Text!])" />
            </FluentStack>

            <FluentDivider />

            <FluentStack class="content" VerticalAlignment="VerticalAlignment.Center">
                <p class="title">@LM.Scripts["p.setting.theme"]</p>
                <FluentSpacer />
                
                <FluentSelect TOption="Option<string>" Items="ThemeOptions" 
                    @bind-SelectedOption="SelectedTheme"
                    OptionText="@(i => LM.Scripts[i.Text!])" />
            </FluentStack>

            <FluentDivider />

            <FluentStack class="content" VerticalAlignment="VerticalAlignment.Center">
                <p class="title">@LM.Scripts["p.setting.color"]</p>
                <FluentSpacer />
                
                <input type="color" @bind-value="@SelectedColor"/>
            </FluentStack>
        </FluentAccordionItem>

        <FluentAccordionItem Heading=@LM.Scripts["p.setting.download"]>
            <FluentIcon Slot="start" Value="@(new Icons.Regular.Size24.ArrowCircleDown())" Color=Color.Neutral />

            <div slot="end">
                #end#
            </div>

            <FluentStack class="content" VerticalAlignment="VerticalAlignment.Center">
                <p class="title">Download setting is here.</p>
            </FluentStack>
        </FluentAccordionItem>
    </FluentAccordion>
</div>

<style>
    .page {
        width: 100%;
        padding: 10px;
    }

    .page fluent-accordion-item {
        margin-bottom: 20px;
    }

    .page .content {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
    }

    .page .content .title {
        line-height: 100%;
        margin: 0;
    }
</style>
