@page "/Help"
@inherits MixApp.Web.Pages.HelpBase
@using Microsoft.FluentUI.AspNetCore.Components

@inject LocaleManager LM

<PageTitle>@LM.Scripts["p.help.help"]</PageTitle>

<div class="page">
    <h1>@LM.Scripts["p.help.help"]</h1>

    <div class="feedback">
        <FluentStack Orientation="Orientation.Horizontal">
            <FluentIcon Slot="start" Value="@(new Icons.Regular.Size28.PersonFeedback())" />
            <h4>@LM.Scripts["p.help.feedback_title"]</h4>
        </FluentStack>

        @if(string.IsNullOrEmpty(ShowWarning))
        {
            <FluentStack 
                class="form"
                HorizontalAlignment="HorizontalAlignment.Center" 
                Orientation="Orientation.Vertical">

                <FluentTextField 
                    class="contact"
                    @bind-Value=Feedback.Contact 
                    Placeholder=@LM.Scripts["p.help.feedback_contact_placeholder"]>
                </FluentTextField>

                <FluentTextArea 
                    class="content"
                    Rows="8"
                    @bind-Value=Feedback.Content 
                    Placeholder=@LM.Scripts["p.help.feedback_content_placeholder"]>
                </FluentTextArea>
            </FluentStack>

            <FluentButton 
                Loading=Loading 
                Appearance="Appearance.Accent" OnClick="(_ => SubmitFeedback())">
                @LM.Scripts["p.help.submit"]
            </FluentButton>
        }
        else
        {
            <p>@ShowWarning</p>

            <FluentButton 
                Loading=Loading 
                Appearance="Appearance.Accent"
                OnClick=@(_ => ShowWarning = string.Empty)>
                @LM.Scripts["p.help.ok"]
            </FluentButton>
        }
    </div>
</div>