@inherits MixApp.Web.Components.HeaderBase

@inject LocaleManager LM

<div class="header">
    <div class="left">
        <img src="/favicon.png" class="icon"/>
        <span class="info">Mix Store</span>
    </div>
    <FluentSearch @bind-Value="@Keyword" 
        @oninput="@(e => Keyword = e.Value?.ToString())"
        class="search" 
        Placeholder=@LM.Scripts["c.search_box.search"] />

    @if(!string.IsNullOrEmpty(Keyword))
    {
        <div class="searchContent animate__animated animate__fadeInDown">
            <FluentDataGrid class="searchResult" Items="@SearchResults.AsQueryable()" GridTemplateColumns="1fr 1fr 2fr 1fr" ResizableColumns=true Virtualize="true" >
                <TemplateColumn Title=@LM.Scripts["c.search_box.identifier"]>
                    <FluentBadge @onclick=@(_ => OpenSoftware(context)) Appearance="Appearance.Accent" Fill="highlight">@context.PackageIdentifier</FluentBadge>
                </TemplateColumn>

                <TemplateColumn Title=@LM.Scripts["c.search_box.name"]>
                    <FluentBadge @onclick=@(_ => OpenSoftware(context)) Appearance="Appearance.Accent" Fill="highlight">@context.PackageName</FluentBadge>
                </TemplateColumn>

                <TemplateColumn Title=@LM.Scripts["c.search_box.description"]>
                    <FluentBadge @onclick=@(_ => OpenSoftware(context)) Appearance="Appearance.Accent" Fill="highlight">@context.ShortDescription</FluentBadge>
                </TemplateColumn>

                <TemplateColumn Title=@LM.Scripts["c.search_box.publisher"]>
                    <FluentBadge @onclick=@(_ => OpenSoftware(context)) Appearance="Appearance.Accent" Fill="highlight">@context.Publisher</FluentBadge>
                </TemplateColumn>
                
                <TemplateColumn Title=@LM.Scripts["c.search_box.open"]>
                    <FluentBadge @onclick=@(_ => OpenSoftware(context)) Appearance="Appearance.Accent" Fill="highlight">@LM.Scripts["c.search_box.open"]</FluentBadge>
                </TemplateColumn>
            </FluentDataGrid>
        </div>
    }
</div>
