@page "/fetchdata"
@inherits MixApp.Pages.FetchDataBase

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (Forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <FluentDataGrid Items="@Forecasts" style="width: 50%;">
        <PropertyColumn Property="@(i => i.TemperatureC)" Sortable="true" />
        <PropertyColumn Property="@(i => i.TemperatureF)" Sortable="true" />
        <PropertyColumn Property="@(i => i.Summary)" Sortable="true" />
        <PropertyColumn Property="@(i => i.Date)" Format="yyyy-MM-dd" Sortable="true" />
    </FluentDataGrid>
}
