@page "/"
@inherits MixApp.Pages.IndexBase

<BaseLayerLuminance>

    <FluentHorizontalScroll class="banner" Speed="600" Easing=ScrollEasing.EaseInOut >
        <FluentCard>Card number 1</FluentCard>
        <FluentCard>Card number 2</FluentCard>
        <FluentCard>Card number 3</FluentCard>
        <FluentCard>Card number 4</FluentCard>
        <FluentCard>Card number 5</FluentCard>
        <FluentCard>Card number 6</FluentCard>
        <FluentCard>Card number 7</FluentCard>
        <FluentCard>Card number 8</FluentCard>
        <FluentCard>Card number 9</FluentCard>
        <FluentCard>Card number 10</FluentCard>
    </FluentHorizontalScroll>

    <div class="content">

        <FluentCard BackReference="@context">
            <div>
                <p>Dark</p>
                <FluentButton Appearance="Appearance.Accent">Accent</FluentButton>
                <FluentButton Appearance="Appearance.Stealth">Stealth</FluentButton>
                <FluentButton Appearance="Appearance.Outline">Outline</FluentButton>
                <FluentButton Appearance="Appearance.Lightweight">Lightweight</FluentButton>
            </div>
        </FluentCard>

        <FluentCard BackReference="@context">
            <div>
                <p>Dark</p>
                <FluentButton Appearance="Appearance.Accent">Accent</FluentButton>
                <FluentButton Appearance="Appearance.Stealth">Stealth</FluentButton>
                <FluentButton Appearance="Appearance.Outline">Outline</FluentButton>
                <FluentButton Appearance="Appearance.Lightweight">Lightweight</FluentButton>
            </div>
        </FluentCard>

        <FluentCard BackReference="@context">
            <div>
                <p>Dark</p>
                <FluentButton Appearance="Appearance.Accent">Accent</FluentButton>
                <FluentButton Appearance="Appearance.Stealth">Stealth</FluentButton>
                <FluentButton Appearance="Appearance.Outline">Outline</FluentButton>
                <FluentButton Appearance="Appearance.Lightweight">Lightweight</FluentButton>
            </div>
        </FluentCard>

        <FluentCard BackReference="@context">
            <div>
                <p>Dark</p>
                <FluentButton Appearance="Appearance.Accent">Accent</FluentButton>
                <FluentButton Appearance="Appearance.Stealth">Stealth</FluentButton>
                <FluentButton Appearance="Appearance.Outline">Outline</FluentButton>
                <FluentButton Appearance="Appearance.Lightweight">Lightweight</FluentButton>
            </div>
        </FluentCard>

        <FluentCard BackReference="@context">
            <div>
                <p>Dark</p>
                <FluentButton Appearance="Appearance.Accent">Accent</FluentButton>
                <FluentButton Appearance="Appearance.Stealth">Stealth</FluentButton>
                <FluentButton Appearance="Appearance.Outline">Outline</FluentButton>
                <FluentButton Appearance="Appearance.Lightweight">Lightweight</FluentButton>
            </div>
        </FluentCard>

        <FluentCard BackReference="@context">
            <div>
                <p>Dark</p>
                <FluentButton Appearance="Appearance.Accent">Accent</FluentButton>
                <FluentButton Appearance="Appearance.Stealth">Stealth</FluentButton>
                <FluentButton Appearance="Appearance.Outline">Outline</FluentButton>
                <FluentButton Appearance="Appearance.Lightweight">Lightweight</FluentButton>
            </div>
        </FluentCard>

        <FluentCard BackReference="@context">
            <div>
                <p>Dark</p>
                <FluentButton Appearance="Appearance.Accent">Accent</FluentButton>
                <FluentButton Appearance="Appearance.Stealth">Stealth</FluentButton>
                <FluentButton Appearance="Appearance.Outline">Outline</FluentButton>
                <FluentButton Appearance="Appearance.Lightweight">Lightweight</FluentButton>
            </div>
        </FluentCard>

        <FluentCard BackReference="@context">
            <div>
                <p>Dark</p>
                <FluentButton Appearance="Appearance.Accent">Accent</FluentButton>
                <FluentButton Appearance="Appearance.Stealth">Stealth</FluentButton>
                <FluentButton Appearance="Appearance.Outline">Outline</FluentButton>
                <FluentButton Appearance="Appearance.Lightweight">Lightweight</FluentButton>
            </div>
        </FluentCard>

    </div>

</BaseLayerLuminance>

<style>
    fluent-card {
        padding: 20px;
    }

    .banner {
        width: 100%;
        margin-top: 10px;
    }

    .banner fluent-card {
        margin: 10px;
        height: 400px;
        width: 600px;
    }

    .content {
        display: grid; 
        grid-template-columns: repeat(5, 1fr); 
        grid-gap: 1em;
    }

    
    @@media only screen and (max-width: 1400px) {
        .content {
            grid-template-columns: repeat(4, 1fr); 
        }
    }

    @@media only screen and (max-width: 1200px) {
        .content {
            grid-template-columns: repeat(3, 1fr); 
        }
    }
    
    @@media only screen and (max-width: 950px) {
        .content {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @@media only screen and (max-width: 700px) {
        .content {
            width: 100%;
            grid-template-columns: repeat(1, 1fr);
        }
    }
</style>