@page "/Library"
@inherits MixApp.Pages.LibraryBase

@inject LocaleManager LM

<PageTitle>Library</PageTitle>

<div class="page">
    @if(GlobalEvent.WaitQueue.Count() > 0)
    {
        <div class="list">
            <h1>Waiting Queue</h1>

            <FluentDataGrid Items="@GlobalEvent.WaitQueue.AsQueryable()" GridTemplateColumns="1fr 2fr 9fr 2fr 2fr" ResizableColumns=true>
                <TemplateColumn Title="Logo">
                    <img class="icon" 
                        src=@("https://icon.horse/icon/" + new Uri(context.PackageUrl ?? "https://www.conchbrain.club").Host) 
                        onerror="javascript:this.src='https://www.conchbrain.club/favicon.ico'" 
                        loading="lazy" />
                </TemplateColumn>

                <TemplateColumn Title="PackageName" >
                    <p class="line">@context.PackageName</p>
                </TemplateColumn>

                <TemplateColumn Title="Description">
                    <p class="line">@context.ShortDescription</p>
                </TemplateColumn>

                <TemplateColumn Title="Publisher">
                    <p class="line">@context.Publisher</p>
                </TemplateColumn>

                <TemplateColumn Title="Action">
                    <FluentButton Appearance="Appearance.Accent">Info</FluentButton>
                    <FluentButton Appearance="Appearance.Accent">Pause</FluentButton>
                </TemplateColumn>
            </FluentDataGrid>
        </div>
    }

    @if(GlobalEvent.DownloadQueue.Count() > 0)
    {
        <div class="list">
            <h1>Download Queue</h1>

            <FluentDataGrid Items="@GlobalEvent.DownloadQueue.AsQueryable()" GridTemplateColumns="1fr 2fr 9fr 2fr 2fr" ResizableColumns=true>
                <TemplateColumn Title="Logo">
                    <img class="icon" 
                        src=@("https://icon.horse/icon/" + new Uri(context.Manifest.PackageUrl ?? "https://www.conchbrain.club").Host) 
                        onerror="javascript:this.src='https://www.conchbrain.club/favicon.ico'" 
                        loading="lazy" />
                </TemplateColumn>

                <TemplateColumn Title="PackageName" >
                    <p class="line">@context.Manifest.PackageName</p>
                </TemplateColumn>

                <TemplateColumn Title="Description">
                    <p class="line">@context.Manifest.ShortDescription</p>
                    <FluentProgress Min="0" Max="100" Value="@context.Progress"></FluentProgress>
                </TemplateColumn>

                <TemplateColumn Title="Publisher">
                    <p class="line">@context.Manifest.Publisher</p>
                </TemplateColumn>

                <TemplateColumn Title="Action">
                    <FluentButton Appearance="Appearance.Accent">Info</FluentButton>
                    <FluentButton Appearance="Appearance.Accent">Pause</FluentButton>
                </TemplateColumn>
            </FluentDataGrid>
        </div>
    }

    <div class="list">
        <h1>Download History</h1>

        <FluentDataGrid Items="@GlobalEvent.HistoryQueue.AsQueryable()" GridTemplateColumns="1fr 2fr 9fr 2fr 2fr" ResizableColumns=true>
            <TemplateColumn Title="Logo">
                <img class="icon" 
                    src=@("https://icon.horse/icon/" + new Uri(context.Manifest.PackageUrl ?? "https://www.conchbrain.club").Host) 
                    onerror="javascript:this.src='https://www.conchbrain.club/favicon.ico'" 
                    loading="lazy" />
            </TemplateColumn>

            <TemplateColumn Title="PackageName" >
                <p class="line">@context.Manifest.PackageName</p>
            </TemplateColumn>

            <TemplateColumn Title="Description">
                <p class="line">@context.Manifest.ShortDescription</p>
            </TemplateColumn>

            <TemplateColumn Title="Publisher">
                <p class="line">@context.Manifest.Publisher</p>
            </TemplateColumn>

            <TemplateColumn Title="Action">
                <FluentButton Appearance="Appearance.Accent">Delete</FluentButton>
            </TemplateColumn>
        </FluentDataGrid>
    </div>
</div>

<style>
    .page {
        width: 100%;
        padding: 10px;
    }

    .page .list {
        margin: 20px;
    }

    .page h1 {
        margin: 0 10px 20px 10px;
    }

    .page img {
        height: 30px;
    }

    .page .line {
        height: 30px;
        line-height: 30px;
        margin-bottom: 0;
    }
</style>