@page "/softwares"
@inherits MixApp.Pages.SoftwaresBase

@using MixApp.Models

<BaseLayerLuminance>

    <div class="content">
        @foreach (Software software in Softwares)
        {
            <FluentCard BackReference="@context">
                <div>
                    <p>@software.PackageIdentifier?.Split(".").First()</p>
                    <FluentDivider></FluentDivider>
                    <h3 class="title">@software.PackageIdentifier?.Split(".").Last()</h3>

                    <FluentBadge Appearance="Appearance.Neutral">
                        @software.Publisher
                    </FluentBadge>

                    <p class="desc">@software.ShortDescription</p>
                </div>

                <div class="action">
                    <FluentButton>
                        <FluentIcon Icon="Icons.Regular.Size16.ArrowCircleDown" Slot="end" Size="@IconSize.Size16" />
                        Download
                    </FluentButton>
                    <FluentButton Appearance="Appearance.Accent">More Info</FluentButton>
                </div>
            </FluentCard>
        }
    </div>

    <FluentProgressRing style="width: 42px; height: 42px;"></FluentProgressRing>
    
</BaseLayerLuminance>

<style>
    .content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1em;
        margin-top: 20px;
    }

    @@media only screen and (max-width: 1400px) {
        .content {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @@media only screen and (max-width: 1200px) {
        .content {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @@media only screen and (max-width: 950px) {
        .content {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    fluent-card {
        padding: 20px 20px 60px 20px;
        position: relative;
    }

    .title {
        margin: 0.75rem 0;
    }

    .desc {
        margin-top: 10px;
    }

    .action {
        margin: 1.2rem 0;
        position: absolute;
        bottom: 0;
    }
    
    .action fluent-button {
        margin-right: 5px;
    }
</style>